body {            
    margin: 0;  
    background-color: gray;
    overflow: hidden;
}

#canvas {
    background-color: white;
    position: relative;
}

.buttons{
    background-color:rgba(22, 230, 137, 1);	
	cursor:pointer;
    color: white;   

    border: 1px solid rgba(22, 230, 137, 1);
    border-radius:15px;

	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:bold;
    font-style:italic;
    
	padding: 14px 22px;
    position: relative;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=button] {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  div {
    text-align: center;
    border-radius: 15px;
    background-color: gray;
    width: 200px;
    padding: 20px;
  }
